@import '../../../../../assets/styles/variables.scss';



.button-add {
  border: 1px solid $egg-white-15;
  background: none;
  border-radius: 100px;
  width: 100%;
  padding: 5px;
}

.button-add:hover {
  background: $egg-red-10-op;
}




.product-card__amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__amount > button {
  display:flex;
  justify-content: center;
  align-items: center;
}

.button-add.--rounded {
  width: 35px;
  height: 35px;
  font-weight: 800;
  font-size: 25px;
}


